body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3cbb8;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', serif;
  color: #333;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #b5a27f;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #9f8b6e;
  color: white;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page .title {
  margin-bottom: 20px;
  font-size: 24px;
}

.main-page .button-group {
  display: flex;
  flex-direction: column;
}
